Repository avitai/opifex: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, check-file-length, pyright

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  check-file-length: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor|tests/|examples/)
  pyright: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor)/

ci: macOS unit lane nightly under a runner cap; superseded runs cancelled
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/quality-checks.yml
  .github/workflows/security.yml
  .github/workflows/tests-extended.yml
  CHANGELOG.md
  tests/packaging/test_ci_workflow_contracts.py
Due: pyright

The format-2 fixture environment pins jax and jaxlib beside flax
  .github/actions/format2-module-fixture/action.yml
  scripts/make_format2_module_fixture.py
  tests/core/training/test_checkpoint_format2.py
Due: check-file-length, pyright

The fixture environment takes jax, jaxlib and flax from the lock, not from literals
  .github/actions/format2-module-fixture/action.yml
  scripts/make_format2_module_fixture.py
  scripts/write_format2_fixture.py
  tests/core/training/test_checkpoint_format2.py
  tests/packaging/test_ci_workflow_contracts.py
Due: check-file-length, pyright

The fixture script reads versions only from lock entries that carry one
  scripts/write_format2_fixture.py
Due: check-file-length, pyright

The fixture environment is a committed lock, not a resolution
  .github/actions/format2-module-fixture/action.yml
  scripts/format2_fixture_requirements.in
  scripts/format2_fixture_requirements.txt
  scripts/make_format2_module_fixture.py
  scripts/write_format2_fixture.py
  tests/core/training/test_checkpoint_format2.py
  tests/packaging/test_ci_workflow_contracts.py
Due: check-file-length, pyright

build: require substrax 0.1.11; the fresh-install smoke reads PyPI and imports the stack
  .github/workflows/build-verification.yml
  CHANGELOG.md
  pyproject.toml
  tests/packaging/test_ci_workflow_contracts.py
  uv.lock
Due: sort_pyproject, pyright

build: require avitai-artifex 0.1.12
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

chore(release): 0.2.8 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

build(deps): require datarax 0.1.14 and calibrax 0.1.9
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

build(security): anyio 4.14.2 in the lock
  CHANGELOG.md
  uv.lock
Due: none

test: drop the format-2 checkpoint fixture and its test
  .github/actions/format2-module-fixture/action.yml
  .github/workflows/ci.yml
  .github/workflows/tests-extended.yml
  .gitignore
  scripts/format2_fixture_requirements.in
  scripts/format2_fixture_requirements.txt
  scripts/make_format2_module_fixture.py
  tests/core/training/test_checkpoint_format2.py
  tests/packaging/test_ci_workflow_contracts.py
Due: check-file-length, pyright

test: drop the format-2 checkpoint fixture and its test (#45)
  .github/actions/format2-module-fixture/action.yml
  .github/workflows/ci.yml
  .github/workflows/tests-extended.yml
  .gitignore
  scripts/format2_fixture_requirements.in
  scripts/format2_fixture_requirements.txt
  scripts/make_format2_module_fixture.py
  tests/core/training/test_checkpoint_format2.py
  tests/packaging/test_ci_workflow_contracts.py
Due: check-file-length, pyright

fix: repair opifex against calibrax 0.1.12, substrax 0.1.16, artifex 0.1.13, datarax 0.1.15
  CHANGELOG.md
  docs/api/uncertainty.md
  docs/methods/advanced-benchmarking.md
  pyproject.toml
  src/opifex/benchmarking/README.md
  src/opifex/benchmarking/__init__.py
  src/opifex/benchmarking/adapters.py
  src/opifex/benchmarking/analysis_engine.py
  src/opifex/benchmarking/benchmark_runner.py
  src/opifex/benchmarking/evaluation_engine.py
  src/opifex/benchmarking/operator_executor.py
  src/opifex/benchmarking/profiling/profiling_harness.py
  src/opifex/benchmarking/results_manager.py
  src/opifex/benchmarking/validation_framework.py
  src/opifex/benchmarking/visualization_tools.py
  src/opifex/core/gpu_acceleration.py
  src/opifex/core/training/components/checkpoint_store.py
  src/opifex/core/training/trainer.py
  src/opifex/uncertainty/conformal/risk_control.py
  tests/benchmarking/profiling/test_profiling_harness.py
  tests/benchmarking/test_operator_execution.py
  tests/benchmarking/test_results_manager.py
  tests/benchmarks/test_evaluation_engine.py
  tests/core/test_gpu_acceleration.py
  tests/core/test_hardware_identity_delegation.py
  tests/examples/test_examples.py
  tests/uncertainty/conformal/test_risk_control.py
  uv.lock
Due: sort_pyproject, check-file-length, pyright

test: fix the CPU-fallback test's host at the device seam, not by replacing jax.devices
  tests/core/test_gpu_acceleration.py
Due: pyright

fix: repair opifex against calibrax 0.1.12, substrax 0.1.16, artifex 0.1.13, datarax 0.1.15 (#46)
  CHANGELOG.md
  docs/api/uncertainty.md
  docs/methods/advanced-benchmarking.md
  pyproject.toml
  src/opifex/benchmarking/README.md
  src/opifex/benchmarking/__init__.py
  src/opifex/benchmarking/adapters.py
  src/opifex/benchmarking/analysis_engine.py
  src/opifex/benchmarking/benchmark_runner.py
  src/opifex/benchmarking/evaluation_engine.py
  src/opifex/benchmarking/operator_executor.py
  src/opifex/benchmarking/profiling/profiling_harness.py
  src/opifex/benchmarking/results_manager.py
  src/opifex/benchmarking/validation_framework.py
  src/opifex/benchmarking/visualization_tools.py
  src/opifex/core/gpu_acceleration.py
  src/opifex/core/training/components/checkpoint_store.py
  src/opifex/core/training/trainer.py
  src/opifex/uncertainty/conformal/risk_control.py
  tests/benchmarking/profiling/test_profiling_harness.py
  tests/benchmarking/test_operator_execution.py
  tests/benchmarking/test_results_manager.py
  tests/benchmarks/test_evaluation_engine.py
  tests/core/test_gpu_acceleration.py
  tests/core/test_hardware_identity_delegation.py
  tests/examples/test_examples.py
  tests/uncertainty/conformal/test_risk_control.py
  uv.lock
Due: sort_pyproject, check-file-length, pyright

chore(release): 0.2.9 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

fix(activations): prelu is nnx.PReLU, and one registry of names
  CHANGELOG.md
  src/opifex/neural/activations.py
  tests/neural/test_activations.py
Due: check-file-length, pyright

fix(linalg): lsmr is the LSMR recurrence, not a projected normal-equation solve
  CHANGELOG.md
  src/opifex/uncertainty/linalg/lstsq.py
  tests/uncertainty/linalg/test_lstsq.py
Due: check-file-length, pyright

fix(physics): Burgers2DSolver integrates on the device
  CHANGELOG.md
  quality/pydoclint_baseline.txt
  src/opifex/physics/solvers/burgers.py
  tests/physics/solvers/test_burgers.py
Due: check-file-length, pyright

fix(linalg): lsmr holds still once the bidiagonalisation is exhausted
  src/opifex/uncertainty/linalg/lstsq.py
  tests/uncertainty/linalg/test_lstsq.py
Due: check-file-length, pyright

fix(fields): the pressure solves invert the operator the projection applies
  CHANGELOG.md
  docs/examples/fields/field-operations.md
  src/opifex/fields/__init__.py
  src/opifex/fields/pressure.py
  tests/fields/test_pressure.py
Due: check-file-length, pyright

fix(physics): the Navier-Stokes projection removes the divergence it measures
  CHANGELOG.md
  src/opifex/physics/solvers/navier_stokes.py
  tests/fields/test_pressure.py
  tests/physics/solvers/test_navier_stokes.py
  tests/uncertainty/linalg/test_lstsq.py
Due: check-file-length, pyright

Numerics: the projections project, and lsmr is LSMR (#47)
  CHANGELOG.md
  docs/examples/fields/field-operations.md
  quality/pydoclint_baseline.txt
  src/opifex/fields/__init__.py
  src/opifex/fields/pressure.py
  src/opifex/neural/activations.py
  src/opifex/physics/solvers/burgers.py
  src/opifex/physics/solvers/navier_stokes.py
  src/opifex/uncertainty/linalg/lstsq.py
  tests/fields/test_pressure.py
  tests/neural/test_activations.py
  tests/physics/solvers/test_burgers.py
  tests/physics/solvers/test_navier_stokes.py
  tests/uncertainty/linalg/test_lstsq.py
Due: check-file-length, pyright

test(fields): residual limits follow the round-off model, not a flat number
  src/opifex/fields/pressure.py
  tests/fields/test_pressure.py
Due: check-file-length, pyright

test(fields): residual limits follow the round-off model, not a flat number (#48)
  src/opifex/fields/pressure.py
  tests/fields/test_pressure.py
Due: check-file-length, pyright

fix(uncertainty): the effective sample size comes from artifex, and can be believed
  CHANGELOG.md
  pyproject.toml
  src/opifex/uncertainty/inference_backends/blackjax.py
  tests/uncertainty/inference_backends/test_blackjax_backend.py
  uv.lock
Due: sort_pyproject, check-file-length, pyright

fix(uncertainty): the effective sample size comes from artifex, and can be believed (#49)
  CHANGELOG.md
  pyproject.toml
  src/opifex/uncertainty/inference_backends/blackjax.py
  tests/uncertainty/inference_backends/test_blackjax_backend.py
  uv.lock
Due: sort_pyproject, check-file-length, pyright

test(fields): the operators approximate what they claim, not only its shape
  src/opifex/fields/staggered_navier_stokes.py
  tests/fields/test_staggered_navier_stokes.py
Due: check-file-length, pyright

feat(fields): staggered convection, skew about a divergence-free velocity
  src/opifex/fields/staggered_convection.py
  tests/fields/test_staggered_convection.py
Due: check-file-length, pyright

feat(fields): the staggered layout, and the identities it is chosen for
  src/opifex/fields/staggered.py
  tests/fields/test_staggered.py
Due: check-file-length, pyright
