Repository avitai/opifex: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, check-file-length, pyright

sort_pyproject:
  name: sort_pyproject
  entry: toml-sort
  language: python
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  - pyproject.toml
  additional_dependencies:
  - toml-sort==0.23.1

check-file-length:
  name: check-file-length (warn >1500, fail >2000 lines)
  entry: bash
  args:
  - -c
  ...

pyright:
  name: pyright
  entry: uv run pyright --warnings
  language: system
  pass_filenames: false

feat(bayesian): Bayesian-linear UQ surfaces on MeanFieldGaussian
  src/opifex/neural/bayesian/variational_framework.py
  tests/neural/bayesian/test_mean_field_gaussian_bayesian_linear.py
  tests/uncertainty/integration/test_protocol_conformance_against_existing_surfaces.py
Due: check-file-length, pyright

chore: dependency/security updates, docs refresh, and CI test sharding
  .github/workflows/ci.yml
  README.md
  docs/features.md
  pyproject.toml
  tests/core/physics/test_pde_registry.py
  tests/integration/test_neural_geometry_integration.py
  tests/neural/equivariant/test_reduced_tensor_product.py
  tests/optimization/test_production.py
  uv.lock
Due: sort_pyproject, pyright

chore(release): v0.2.0
  .github/workflows/publish.yml
  .gitignore
  CHANGELOG.md
  pyproject.toml
  src/opifex/__init__.py
  uv.lock
Due: sort_pyproject, check-file-length, pyright

Refresh uv.lock to clear known vulnerabilities
  uv.lock
Due: none

Upgrade packaging and twine alongside the security bumps
  uv.lock
Due: none

Slim runtime dependencies
  pyproject.toml
  uv.lock
Due: sort_pyproject

Remove development-only runtime dependencies
  pyproject.toml
  uv.lock
Due: sort_pyproject

Constrain ruff to the locked minor so the lint gate is reproducible
  pyproject.toml
  uv.lock
Due: sort_pyproject

docs: launch-readiness pass on the opifex README
  README.md
Due: none

Drop internal document citations from public docstrings
  src/opifex/core/quantum/molecular_system.py
  src/opifex/data/loaders/factory.py
  src/opifex/uncertainty/gp/kernels.py
  tests/core/test_quantum_problem_jit.py
  tests/neural/bayesian/test_probabilistic_pinn_objectives.py
  tests/uncertainty/test_registry.py
Due: check-file-length, pyright

Stop pinning a literal version in the import test
  tests/test_imports.py
Due: pyright

Add a security policy
  SECURITY.md
Due: none

Record the cryptography PKCS#7 advisory as reviewed and not applicable
  .github/workflows/security.yml
Due: none

docs: rewrite the README status notice and replace em dashes with hyphens
  README.md
Due: none

Apply sort_pyproject to the optional-dependency tables
  pyproject.toml
Due: sort_pyproject

fix: take the artifex release that stopped shipping triton as a runtime dependency
  pyproject.toml
  uv.lock
Due: sort_pyproject

fix: name the CUDA extra for CUDA, install the variant setup.sh promises, and let jax move
  Dockerfile
  deploy/vast/README.md
  deploy/vast/qh9_train.sky.yaml
  docs/deployment/local-development.md
  docs/deployment/troubleshooting.md
  pyproject.toml
  setup.sh
  tests/packaging/__init__.py
  tests/packaging/test_accelerator_extras.py
  uv.lock
Due: sort_pyproject, pyright

chore: drop Python 3.11 and take the jax line that dropped it
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/quality-checks.yml
  .github/workflows/security.yml
  .github/workflows/tests-extended.yml
  .readthedocs.yaml
  README.md
  docs/development/code-quality.md
  docs/faq.md
  docs/getting-started/installation.md
  docs/index.md
  docs/tech-stack.md
  pyproject.toml
  src/opifex/benchmarking/README.md
  src/opifex/core/training/strategies/multilevel/cascade_training.py
  src/opifex/geometry/README.md
  src/opifex/geometry/manifolds/base.py
  src/opifex/neural/README.md
  src/opifex/neural/bayesian/calibration_tools.py
  src/opifex/optimization/l2o/optimizers.py
  src/opifex/optimization/l2o/tasks.py
  src/opifex/typing.py
  src/opifex/uncertainty/sbi/_base.py
  src/opifex/uncertainty/types.py
  uv.lock
Due: sort_pyproject, check-file-length, pyright

Move off the jax APIs that 0.9 through 0.11 removed
  pyproject.toml
  src/opifex/core/conditions.py
  src/opifex/core/training/strategies/multilevel/cascade_training.py
  src/opifex/neural/bayesian/calibration_tools.py
  src/opifex/neural/operators/specialized/spectral_normalization.py
  src/opifex/neural/quantum/hamiltonian/block_training.py
  src/opifex/neural/quantum/vmc/mala.py
  src/opifex/optimization/l2o/optimizers.py
  src/opifex/typing.py
  src/opifex/uncertainty/gp/kernels.py
  src/opifex/uncertainty/gp/laplace.py
  src/opifex/uncertainty/gp/laplace_likelihoods.py
  src/opifex/uncertainty/gp/svgp_stochastic.py
  src/opifex/uncertainty/markov/_likelihood_support.py
  src/opifex/uncertainty/markov/markov_laplace.py
  src/opifex/uncertainty/markov/markov_pep.py
  src/opifex/uncertainty/markov/markov_pep_likelihoods.py
  src/opifex/uncertainty/markov/markov_pl.py
  src/opifex/uncertainty/markov/markov_vi.py
  src/opifex/uncertainty/multi_fidelity/linear.py
  src/opifex/uncertainty/multi_fidelity/mumbo.py
  src/opifex/uncertainty/multi_fidelity/nonlinear.py
  src/opifex/uncertainty/sbi/_base.py
  src/opifex/uncertainty/types.py
  tests/core/conditions/test_comprehensive_edge_cases.py
  tests/core/conditions/test_quantum_boundary_conditions.py
  tests/data/sources/test_qh9_fock_operators.py
  tests/neural/operators/specialized/test_lno.py
  tests/neural/quantum/hamiltonian/test_fused_block_training.py
  tests/neural/quantum/hamiltonian/test_qh9_eval.py
Due: sort_pyproject, check-file-length, pyright

Take the training mode from nnx instead of a training argument
  CHANGELOG.md
  docs/development/code-quality.md
  src/opifex/neural/README.md
  src/opifex/neural/operators/deeponet/multiphysics.py
  src/opifex/neural/operators/fno/amortized.py
  src/opifex/neural/operators/fno/multiscale.py
  src/opifex/neural/operators/fno/spectral.py
  src/opifex/neural/operators/physics/attention.py
  src/opifex/neural/operators/sensor_optimization.py
  src/opifex/neural/operators/specialized/latent.py
  src/opifex/neural/operators/specialized/mgno.py
  src/opifex/neural/operators/specialized/spectral_normalization.py
  src/opifex/neural/operators/specialized/wavelet.py
  tests/neural/operators/deeponet/test_multiphysics.py
  tests/neural/operators/fno/test_spectral.py
  tests/neural/operators/physics/test_attention.py
  tests/neural/operators/physics/test_cross_attention.py
  tests/neural/operators/specialized/test_mgno.py
  tests/neural/operators/specialized/test_sensor_optimization.py
  tests/neural/operators/specialized/test_spectral_normalization.py
Due: check-file-length, pyright

Give the jit parity check an absolute tolerance
  tests/neural/operators/specialized/test_spectral_normalization.py
Due: pyright

Revert "Give the jit parity check an absolute tolerance"
  tests/neural/operators/specialized/test_spectral_normalization.py
Due: pyright

Size the power-iteration vectors for the weight they normalize
  src/opifex/neural/operators/specialized/spectral_normalization.py
  tests/neural/operators/specialized/test_spectral_normalization.py
Due: check-file-length, pyright

Install CI environments from uv.lock
  .github/workflows/benchmark-regression.yml
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/quality-checks.yml
  .github/workflows/security.yml
  .github/workflows/tests-extended.yml
Due: none

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  check-file-length: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor|tests/|examples/)
  pyright: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor)/
