Repository avitai/opifex: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, check-file-length, pyright

sort_pyproject:
  name: sort_pyproject
  entry: toml-sort
  language: python
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  - pyproject.toml
  additional_dependencies:
  - toml-sort==0.23.1

check-file-length:
  name: check-file-length (warn >1500, fail >2000 lines)
  entry: bash
  args:
  - -c
  ...

pyright:
  name: pyright
  entry: uv run pyright --warnings
  language: system
  pass_filenames: false

docs: remove speed claims that no measurement supports
  docs/development/example-documentation-design.md
  docs/examples/getting-started/first-pinn.md
  docs/examples/index.md
  docs/methods/meta-optimization.md
  docs/methods/neural-operators.md
Due: none

ci: retire the benchmark regression guard, which could not fail
  .github/workflows/benchmark-regression.yml
  scripts/README.md
  scripts/run_ci_benchmark.py
Due: check-file-length, pyright

chore(release): 0.2.5 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

fix(l2o): declare the learn-to-optimize uncertainty capabilities
  CHANGELOG.md
  src/opifex/optimization/l2o/__init__.py
  src/opifex/optimization/l2o/_uq_capabilities.py
  tests/core/test_import_side_effects.py
  tests/uncertainty/test_scientific_domain_capabilities.py
Due: check-file-length, pyright

build(deps): relock hydra-core to the release that fixes GHSA-2cp2-2r3c-7p7r
  pyproject.toml
  uv.lock
Due: sort_pyproject

fix(statespace): stable Bessel weights and balanced quasi-periodic diffusion
  CHANGELOG.md
  src/opifex/uncertainty/statespace/kernels.py
  tests/uncertainty/statespace/test_kernels.py
Due: check-file-length, pyright

build(deps): relock cryptography to the release that fixes GHSA-g6cj-pr64-35w5
  .github/workflows/security.yml
  pyproject.toml
  uv.lock
Due: sort_pyproject

fix(statespace): cancellation-free process noise from closed-form transition increments
  CHANGELOG.md
  src/opifex/uncertainty/gp/spatiotemporal.py
  src/opifex/uncertainty/markov/_likelihood_support.py
  src/opifex/uncertainty/markov/markov_laplace.py
  src/opifex/uncertainty/statespace/kernels.py
  tests/conftest.py
  tests/uncertainty/conftest.py
  tests/uncertainty/gp/test_spatiotemporal.py
  tests/uncertainty/statespace/test_kernels.py
Due: check-file-length, pyright

fix(statespace): keep the Matern transition increment exact at coarse steps
  CHANGELOG.md
  src/opifex/uncertainty/statespace/kernels.py
  tests/uncertainty/statespace/test_kernels.py
Due: check-file-length, pyright

fix(statespace): discretize_lti_sde stays finite at coarse steps
  CHANGELOG.md
  src/opifex/uncertainty/statespace/lti_sde.py
  tests/uncertainty/statespace/test_lti_sde.py
Due: check-file-length, pyright

refactor(statespace): take periodic Bessel weights from TensorFlow Probability
  CHANGELOG.md
  pyproject.toml
  src/opifex/uncertainty/statespace/kernels.py
  tests/uncertainty/statespace/test_kernels.py
  uv.lock
Due: sort_pyproject, check-file-length, pyright

test(markov): give the Bernoulli fixtures labels in {-1, +1}
  tests/uncertainty/markov/_helpers.py
  tests/uncertainty/markov/test_label_helpers.py
  tests/uncertainty/markov/test_markov_laplace.py
  tests/uncertainty/markov/test_markov_pep.py
  tests/uncertainty/markov/test_markov_pl.py
  tests/uncertainty/markov/test_markov_vi.py
Due: pyright

fix(markov): report the published evidence for VI, Laplace and power EP
  CHANGELOG.md
  src/opifex/uncertainty/markov/_likelihood_support.py
  src/opifex/uncertainty/markov/markov_laplace.py
  src/opifex/uncertainty/markov/markov_pep.py
  src/opifex/uncertainty/markov/markov_pep_likelihoods.py
  src/opifex/uncertainty/markov/markov_vi.py
  tests/uncertainty/markov/test_markov_evidence.py
Due: check-file-length, pyright

fix(statespace): discretize_lti_sde by Stillfjord-Tronarp doubling
  CHANGELOG.md
  scripts/generate_process_noise_references.py
  src/opifex/uncertainty/adapters/_uq_capabilities.py
  src/opifex/uncertainty/adapters/gp.py
  src/opifex/uncertainty/statespace/_gramian.py
  src/opifex/uncertainty/statespace/lti_sde.py
  tests/uncertainty/statespace/_process_noise_references.py
  tests/uncertainty/statespace/test_gramian.py
  tests/uncertainty/statespace/test_kernels.py
  tests/uncertainty/statespace/test_lti_sde.py
Due: check-file-length, pyright

fix(statespace): kernel process noise by precision, kernels as pytrees
  CHANGELOG.md
  src/opifex/uncertainty/gp/spatiotemporal.py
  src/opifex/uncertainty/markov/_likelihood_support.py
  src/opifex/uncertainty/markov/markov_laplace.py
  src/opifex/uncertainty/statespace/_gramian.py
  src/opifex/uncertainty/statespace/kernels.py
  src/opifex/uncertainty/statespace/lti_sde.py
  tests/uncertainty/markov/test_markov_float32_evidence.py
  tests/uncertainty/statespace/_accuracy.py
  tests/uncertainty/statespace/test_gramian.py
  tests/uncertainty/statespace/test_kernels.py
  tests/uncertainty/statespace/test_lti_sde.py
Due: check-file-length, pyright

fix(gp): fit_laplace_gp keeps the input dtype in its Newton scan
  CHANGELOG.md
  src/opifex/uncertainty/gp/laplace.py
  tests/uncertainty/gp/test_laplace_likelihoods.py
Due: check-file-length, pyright

refactor(uncertainty): one Gauss-Hermite rule for every quadrature consumer
  src/opifex/uncertainty/_gauss_hermite.py
  src/opifex/uncertainty/gp/svgp_stochastic.py
  src/opifex/uncertainty/markov/markov_pep.py
  src/opifex/uncertainty/markov/markov_pl.py
  src/opifex/uncertainty/markov/markov_vi.py
  src/opifex/uncertainty/scientific/polynomial_chaos.py
  tests/uncertainty/test_gauss_hermite.py
Due: check-file-length, pyright

fix(uncertainty): Beta predictors return response moments under the latent posterior
  CHANGELOG.md
  src/opifex/uncertainty/_gauss_hermite.py
  src/opifex/uncertainty/gp/laplace_likelihoods.py
  src/opifex/uncertainty/markov/markov_laplace_likelihoods.py
  src/opifex/uncertainty/markov/markov_pep_likelihoods.py
  src/opifex/uncertainty/markov/markov_pl.py
  src/opifex/uncertainty/markov/markov_pl_likelihoods.py
  src/opifex/uncertainty/markov/markov_vi_likelihoods.py
  tests/uncertainty/test_beta_predictive_moments.py
Due: check-file-length, pyright

fix(markov): Student-t power-EP and posterior-linearisation predictors record students_t
  CHANGELOG.md
  src/opifex/uncertainty/markov/markov_pep_likelihoods.py
  src/opifex/uncertainty/markov/markov_pl_likelihoods.py
  tests/uncertainty/test_studentst_likelihood_label.py
Due: check-file-length, pyright

fix(statespace): parallel smoother transition index and zero-noise filter
  CHANGELOG.md
  src/opifex/uncertainty/statespace/parallel.py
  tests/uncertainty/statespace/test_parallel.py
Due: check-file-length, pyright

fix(uncertainty): Pathfinder, SVGD and ADVI capabilities declare opifex as their source
  CHANGELOG.md
  src/opifex/uncertainty/inference_backends/_uq_capabilities.py
  tests/uncertainty/test_capability_coverage.py
Due: check-file-length, pyright

fix(active): log-EI evaluates eq. 9 of Ament et al. below the incumbent
  CHANGELOG.md
  src/opifex/uncertainty/active/acquisition.py
  tests/uncertainty/active/test_acquisition.py
Due: check-file-length, pyright

fix(active): min-value entropy search uses the minimum-value truncation
  CHANGELOG.md
  src/opifex/uncertainty/active/acquisition.py
  tests/uncertainty/active/test_extra_acquisitions.py
Due: check-file-length, pyright

fix(active): gibbon computes GIBBON's single-point acquisition
  CHANGELOG.md
  src/opifex/uncertainty/active/acquisition.py
  tests/uncertainty/active/test_extra_acquisitions.py
Due: check-file-length, pyright

fix(multi-fidelity): MUMBO evaluates eq. 5 for the target level's maximum
  CHANGELOG.md
  src/opifex/uncertainty/multi_fidelity/mumbo.py
  tests/uncertainty/multi_fidelity/test_mumbo_acquisition.py
Due: check-file-length, pyright

fix(inference): Pathfinder log densities stay finite in high dimensions
  CHANGELOG.md
  src/opifex/uncertainty/inference_backends/_pathfinder_algorithm.py
  tests/uncertainty/inference_backends/test_pathfinder_algorithm.py
Due: check-file-length, pyright

perf(inference): Pathfinder primitives stay linear in the dimension
  CHANGELOG.md
  src/opifex/uncertainty/inference_backends/_pathfinder_algorithm.py
  tests/uncertainty/inference_backends/test_pathfinder_algorithm.py
Due: check-file-length, pyright

fix(inference): Pathfinder centres each Gaussian on a step towards the mode
  CHANGELOG.md
  src/opifex/uncertainty/inference_backends/_pathfinder_algorithm.py
  tests/uncertainty/inference_backends/test_pathfinder_algorithm.py
Due: check-file-length, pyright

fix(sensitivity): Morris trajectories start at x* + Delta for steps down
  CHANGELOG.md
  src/opifex/uncertainty/sensitivity/morris.py
  tests/uncertainty/sensitivity/test_morris.py
Due: check-file-length, pyright

fix(hamiltonian): QHNet block head biases every degree-0 expansion path
  CHANGELOG.md
  src/opifex/neural/quantum/hamiltonian/_block_expansion.py
  tests/neural/quantum/hamiltonian/test_block_expansion.py
Due: check-file-length, pyright

docs: correct the QH9 metric labels, the Kalman update form and the Matérn SDE citation
  CHANGELOG.md
  scripts/eval_qh9_blocks.py
  src/opifex/uncertainty/statespace/kalman.py
  src/opifex/uncertainty/statespace/kernels.py
  tests/uncertainty/statespace/test_kernels.py
  tests/uncertainty/statespace/test_sqrt_kalman.py
Due: check-file-length, pyright

docs: correct citations that name the wrong paper, authors or year
  CHANGELOG.md
  docs/examples/domain-decomposition/fbpinn-poisson.md
  docs/examples/uncertainty/probnum-fenrir-dalton.md
  examples/domain-decomposition/fbpinn_poisson.ipynb
  examples/domain-decomposition/fbpinn_poisson.py
  examples/uncertainty/probabilistic_numerics/fenrir_dalton.ipynb
  examples/uncertainty/probabilistic_numerics/fenrir_dalton.py
  scripts/eval_qh9_blocks.py
  src/opifex/geometry/algebra/_wigner_j.py
  src/opifex/geometry/algebra/wigner.py
  src/opifex/neural/operators/fno/base.py
  src/opifex/neural/operators/specialized/uno.py
  src/opifex/uncertainty/adapters/_uq_capabilities.py
  src/opifex/uncertainty/scientific/probabilistic_numerics.py
  tests/geometry/algebra/test_wigner.py
  tests/neural/operators/specialized/test_uno.py
  tests/uncertainty/adapters/test_due_adapter.py
  tests/uncertainty/scientific/test_phase9_adapter_specs.py
Due: check-file-length, pyright

docs(changelog): rewrap five Unreleased entries to 100 columns
  CHANGELOG.md
Due: none

docs: state the Wigner-D J factorisation and the FBPINN oscillator directly
  CHANGELOG.md
  docs/examples/domain-decomposition/fbpinn-poisson.md
  examples/domain-decomposition/fbpinn_poisson.ipynb
  examples/domain-decomposition/fbpinn_poisson.py
  examples/domain-decomposition/xpinn_helmholtz.ipynb
  examples/domain-decomposition/xpinn_helmholtz.py
  src/opifex/geometry/algebra/_wigner_j.py
  src/opifex/geometry/algebra/wigner.py
  src/opifex/neural/quantum/vmc/kfac_preconditioner.py
  tests/geometry/algebra/test_wigner.py
Due: check-file-length, pyright

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  check-file-length: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor|tests/|examples/)
  pyright: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor)/
