Repository avitai/opifex: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, check-file-length, pyright

sort_pyproject:
  name: sort_pyproject
  entry: toml-sort
  language: python
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  - pyproject.toml
  additional_dependencies:
  - toml-sort==0.23.1

check-file-length:
  name: check-file-length (warn >1500, fail >2000 lines)
  entry: bash
  args:
  - -c
  ...

pyright:
  name: pyright
  entry: uv run pyright --warnings
  language: system
  pass_filenames: false

feat(fields): Runge-Kutta with a projection at every stage
  src/opifex/fields/staggered_navier_stokes.py
  tests/fields/test_staggered_navier_stokes.py
Due: check-file-length, pyright

feat(fields): the staggered projection, direct under walls as well as periodic
  src/opifex/fields/staggered_pressure.py
  tests/fields/test_staggered_pressure.py
Due: check-file-length, pyright

fix(fields): the viscous operator refuses a boundary its stencil cannot carry
  src/opifex/fields/staggered_navier_stokes.py
  tests/fields/test_staggered_navier_stokes.py
Due: check-file-length, pyright

fix(uncertainty): the polynomial bases differentiate in reverse mode
  src/opifex/uncertainty/scientific/polynomial_chaos.py
  tests/uncertainty/scientific/test_polynomial_chaos.py
Due: check-file-length, pyright

fix(physics): the Burgers solvers differentiate in reverse mode
  src/opifex/physics/solvers/burgers.py
  tests/physics/solvers/test_burgers.py
Due: check-file-length, pyright

feat(physics): solve_navier_stokes_2d integrates on the staggered scheme
  CHANGELOG.md
  docs/api/fields.md
  docs/examples/fields/field-operations.md
  docs/examples/neural-operators/fno-navier-stokes.md
  docs/examples/neural-operators/ufno-turbulence.md
  pyproject.toml
  quality/ruff_baseline.json
  src/opifex/fields/staggered_navier_stokes.py
  src/opifex/physics/solvers/burgers.py
  src/opifex/physics/solvers/navier_stokes.py
  tests/fields/test_staggered_navier_stokes.py
  tests/physics/solvers/test_navier_stokes.py
Due: sort_pyproject, check-file-length, pyright

docs(examples): the figures come from the runs that produced the numbers
  docs/assets/examples/fno_navier_stokes/predictions.png
  docs/assets/examples/fno_navier_stokes/training_analysis.png
  docs/assets/examples/ufno_turbulence/error_analysis.png
  docs/assets/examples/ufno_turbulence/multiscale_analysis.png
  docs/assets/examples/ufno_turbulence/sample_predictions.png
  docs/assets/examples/ufno_turbulence/training_curves.png
Due: none

refactor(fields): one owner for which boundaries the staggered layer carries
  src/opifex/fields/staggered.py
  src/opifex/fields/staggered_convection.py
  src/opifex/fields/staggered_navier_stokes.py
  src/opifex/fields/staggered_pressure.py
  tests/fields/test_staggered.py
Due: check-file-length, pyright

fields: carry solid walls through the staggered convective operator
  src/opifex/fields/staggered.py
  src/opifex/fields/staggered_convection.py
  tests/fields/test_staggered.py
  tests/fields/test_staggered_convection.py
Due: check-file-length, pyright

fields: carry solid walls through diffusion, driven by a wall-velocity field
  src/opifex/fields/staggered.py
  src/opifex/fields/staggered_diffusion.py
  src/opifex/fields/staggered_navier_stokes.py
  tests/fields/staggered_support.py
  tests/fields/test_staggered.py
  tests/fields/test_staggered_convection.py
  tests/fields/test_staggered_diffusion.py
  tests/fields/test_staggered_navier_stokes.py
Due: check-file-length, pyright

fields: cite the analysis for per-stage projection, and record that a moving wall is free
  src/opifex/fields/staggered_navier_stokes.py
Due: check-file-length, pyright

physics: drive a real lid-driven cavity, and let a moving wall reach the flow
  docs/api/physics.md
  src/opifex/fields/staggered_navier_stokes.py
  src/opifex/physics/solvers/__init__.py
  src/opifex/physics/solvers/navier_stokes.py
  tests/fields/test_staggered_navier_stokes.py
  tests/physics/solvers/test_navier_stokes.py
Due: check-file-length, pyright

fields: register the staggered pytrees through flax.struct instead of by hand
  src/opifex/fields/staggered.py
  src/opifex/fields/staggered_diffusion.py
Due: check-file-length, pyright

core/solver: report a solve's outcome as a traced status code
  src/opifex/core/solver/status.py
  tests/core/solver/test_status.py
Due: check-file-length, pyright

physics: bundle an incompressible flow as one validated problem
  src/opifex/physics/flow_problem.py
  tests/physics/test_flow_problem.py
Due: check-file-length, pyright

core/solver: make a solver a callable and a solution a pytree of arrays
  docs/architecture.md
  src/opifex/core/solver/interface.py
  src/opifex/core/solver/report.py
  src/opifex/core/solver/status.py
  src/opifex/solvers/adapters/artifex.py
  src/opifex/solvers/hybrid.py
  src/opifex/solvers/neural_operator.py
  src/opifex/uncertainty/scientific/solutions.py
  tests/core/solver/test_interface.py
  tests/solvers/adapters/test_artifex.py
  tests/solvers/test_hybrid_solver.py
  tests/uncertainty/scientific/test_aggregate_solver_solutions.py
  tests/uncertainty/scientific/test_solutions.py
Due: check-file-length, pyright

conformal: compute the Kolmogorov tail with the series that converges
  src/opifex/uncertainty/conformal/exchangeability.py
  tests/uncertainty/conformal/test_exchangeability.py
  tests/uncertainty/conformal/test_fields.py
  tests/uncertainty/conformal/test_kolmogorov_tail.py
Due: check-file-length, pyright

uncertainty: make the shift verdict traced data, render it on the host
  docs/api/uncertainty.md
  src/opifex/uncertainty/ood/__init__.py
  src/opifex/uncertainty/ood/shift_diagnostics.py
  tests/uncertainty/ood/test_shift_diagnostics.py
Due: check-file-length, pyright

quantum/dft: report the solve that ran, and regularise in the precision that runs it
  src/opifex/neural/quantum/dft/_energy.py
  src/opifex/neural/quantum/dft/_fixed_point.py
  src/opifex/neural/quantum/dft/scf.py
  src/opifex/neural/quantum/dft/scf_acceleration.py
  tests/neural/quantum/dft/test_fixed_point.py
  tests/neural/quantum/dft/test_forces.py
  tests/neural/quantum/dft/test_neural_xc_scf.py
  tests/neural/quantum/dft/test_scf.py
  tests/neural/quantum/dft/test_scf_acceleration.py
  tests/neural/quantum/dft/test_scf_outcome.py
Due: check-file-length, pyright

timing: measure through calibrax, and keep the clock out of traced results
  docs/methods/control-systems.md
  src/opifex/core/optimization/memory_layout.py
  src/opifex/core/solver/report.py
  src/opifex/core/training/monitoring/metrics.py
  src/opifex/neural/quantum/dft/scf.py
  src/opifex/optimization/control/mpc.py
  src/opifex/optimization/production.py
  src/opifex/solvers/pinn.py
  tests/core/solver/test_report.py
  tests/neural/quantum/dft/test_fixed_point.py
  tests/neural/quantum/dft/test_scf_outcome.py
  tests/optimization/control/test_mpc.py
  tests/optimization/test_production.py
Due: check-file-length, pyright

training/metrics: build on calibrax's metrics, and name the collector for what it does
  docs/api/training.md
  docs/features.md
  docs/user-guide/training.md
  src/opifex/core/training/monitoring/metrics.py
  tests/core/training/test_migration_integrity.py
  tests/training/test_training_metrics.py
Due: check-file-length, pyright

build(deps)!: datarax 0.1.16, which serves no padded batches
  CHANGELOG.md
  docs/api/data.md
  docs/examples/data/pdebench-loading.md
  docs/examples/data/vtk-mesh-loading.md
  docs/examples/getting-started/first-neural-operator.md
  docs/examples/neural-operators/uno-darcy.md
  examples/data/pdebench_loading.ipynb
  examples/data/pdebench_loading.py
  examples/data/vtk_mesh_loading.ipynb
  examples/data/vtk_mesh_loading.py
  examples/getting-started/first_neural_operator.ipynb
  examples/getting-started/first_neural_operator.py
  examples/neural-operators/uno_darcy.ipynb
  examples/neural-operators/uno_darcy.py
  examples/uncertainty/bayesian_fno.ipynb
  examples/uncertainty/bayesian_fno.py
  pyproject.toml
  src/opifex/benchmarking/operator_executor.py
  src/opifex/data/loaders/factory.py
  src/opifex/data/sources/qh9_padded_source.py
  src/opifex/data/sources/rmd17_source.py
  src/opifex/data/sources/scientific.py
  tests/benchmarking/test_operator_execution.py
  tests/benchmarks/test_advanced_benchmarking_system.py
  tests/data/loaders/test_factory.py
  tests/data/sources/test_qh9_padded_source.py
  tests/data/sources/test_scientific.py
  uv.lock
Due: sort_pyproject, check-file-length, pyright

build(deps): artifex 0.1.15 and calibrax 0.1.14
  pyproject.toml
  uv.lock
Due: sort_pyproject

build(deps): drop the unused typing_extensions dependency
  pyproject.toml
  uv.lock
Due: sort_pyproject

docs: Read the Docs hosts the documentation; drop the GitHub Pages deploy
  .github/workflows/docs.yml
  README.md
  docs/CNAME
  mkdocs.yml
Due: none

build(deps)!: datarax 0.1.16, artifex 0.1.15, calibrax 0.1.14 (#51)
  CHANGELOG.md
  docs/api/data.md
  docs/examples/data/pdebench-loading.md
  docs/examples/data/vtk-mesh-loading.md
  docs/examples/getting-started/first-neural-operator.md
  docs/examples/neural-operators/uno-darcy.md
  examples/data/pdebench_loading.ipynb
  examples/data/pdebench_loading.py
  examples/data/vtk_mesh_loading.ipynb
  examples/data/vtk_mesh_loading.py
  examples/getting-started/first_neural_operator.ipynb
  examples/getting-started/first_neural_operator.py
  examples/neural-operators/uno_darcy.ipynb
  examples/neural-operators/uno_darcy.py
  examples/uncertainty/bayesian_fno.ipynb
  examples/uncertainty/bayesian_fno.py
  pyproject.toml
  src/opifex/benchmarking/operator_executor.py
  src/opifex/data/loaders/factory.py
  src/opifex/data/sources/qh9_padded_source.py
  src/opifex/data/sources/rmd17_source.py
  src/opifex/data/sources/scientific.py
  tests/benchmarking/test_operator_execution.py
  tests/benchmarks/test_advanced_benchmarking_system.py
  tests/data/loaders/test_factory.py
  tests/data/sources/test_qh9_padded_source.py
  tests/data/sources/test_scientific.py
  uv.lock
Due: sort_pyproject, check-file-length, pyright

chore(release): 0.2.10 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

chore(release): 0.2.10 [skip ci] (#53)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

docs: Read the Docs hosts the documentation; drop the GitHub Pages deploy (#52)
  .github/workflows/docs.yml
  README.md
  docs/CNAME
  mkdocs.yml
Due: none

build(deps): lock urllib3 2.8.0 for CVE-2026-97687, -97688 and -97689
  uv.lock
Due: none

build(deps): lock oauthlib 4.0.0 for CVE-2026-49265
  uv.lock
Due: none

fix(deps): lock virtualenv 21.14.1 for PYSEC-2026-4011 to -4014
  uv.lock
Due: none

ci: use uv 0.12.21 and setup-uv v10.2.0
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/quality-checks.yml
  .github/workflows/security.yml
  .github/workflows/tests-extended.yml
  Dockerfile
Due: none

ci: prune every uv cache before it is saved
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/quality-checks.yml
  .github/workflows/security.yml
  .github/workflows/tests-extended.yml
  tests/packaging/test_ci_workflow_contracts.py
Due: pyright

ci: stand down tests and quality checks on a merge its pull request already tested
  .github/workflows/ci.yml
  .github/workflows/quality-checks.yml
  tests/packaging/test_ci_workflow_contracts.py
Due: pyright

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  check-file-length: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor|tests/|examples/)
  pyright: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor)/
