Repository avitai/opifex: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, check-file-length, pyright

sort_pyproject:
  name: sort_pyproject
  entry: toml-sort
  language: python
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  - pyproject.toml
  additional_dependencies:
  - toml-sort==0.23.1

check-file-length:
  name: check-file-length (warn >1500, fail >2000 lines)
  entry: bash
  args:
  - -c
  ...

pyright:
  name: pyright
  entry: uv run pyright --warnings
  language: system
  pass_filenames: false

Move off the jax APIs that 0.9 through 0.11 removed
  pyproject.toml
  src/opifex/core/conditions.py
  src/opifex/core/training/strategies/multilevel/cascade_training.py
  src/opifex/neural/bayesian/calibration_tools.py
  src/opifex/neural/operators/specialized/spectral_normalization.py
  src/opifex/neural/quantum/hamiltonian/block_training.py
  src/opifex/neural/quantum/vmc/mala.py
  src/opifex/optimization/l2o/optimizers.py
  src/opifex/typing.py
  src/opifex/uncertainty/gp/kernels.py
  src/opifex/uncertainty/gp/laplace.py
  src/opifex/uncertainty/gp/laplace_likelihoods.py
  src/opifex/uncertainty/gp/svgp_stochastic.py
  src/opifex/uncertainty/markov/_likelihood_support.py
  src/opifex/uncertainty/markov/markov_laplace.py
  src/opifex/uncertainty/markov/markov_pep.py
  src/opifex/uncertainty/markov/markov_pep_likelihoods.py
  src/opifex/uncertainty/markov/markov_pl.py
  src/opifex/uncertainty/markov/markov_vi.py
  src/opifex/uncertainty/multi_fidelity/linear.py
  src/opifex/uncertainty/multi_fidelity/mumbo.py
  src/opifex/uncertainty/multi_fidelity/nonlinear.py
  src/opifex/uncertainty/sbi/_base.py
  src/opifex/uncertainty/types.py
  tests/core/conditions/test_comprehensive_edge_cases.py
  tests/core/conditions/test_quantum_boundary_conditions.py
  tests/data/sources/test_qh9_fock_operators.py
  tests/neural/operators/specialized/test_lno.py
  tests/neural/quantum/hamiltonian/test_fused_block_training.py
  tests/neural/quantum/hamiltonian/test_qh9_eval.py
Due: sort_pyproject, check-file-length, pyright

Refresh dependencies, slim the runtime, and record the reviewed advisory
  .github/workflows/security.yml
  pyproject.toml
  uv.lock
Due: sort_pyproject

Take the training mode from nnx instead of a training argument
  CHANGELOG.md
  docs/development/code-quality.md
  src/opifex/neural/README.md
  src/opifex/neural/operators/deeponet/multiphysics.py
  src/opifex/neural/operators/fno/amortized.py
  src/opifex/neural/operators/fno/multiscale.py
  src/opifex/neural/operators/fno/spectral.py
  src/opifex/neural/operators/physics/attention.py
  src/opifex/neural/operators/sensor_optimization.py
  src/opifex/neural/operators/specialized/latent.py
  src/opifex/neural/operators/specialized/mgno.py
  src/opifex/neural/operators/specialized/spectral_normalization.py
  src/opifex/neural/operators/specialized/wavelet.py
  tests/neural/operators/deeponet/test_multiphysics.py
  tests/neural/operators/fno/test_spectral.py
  tests/neural/operators/physics/test_attention.py
  tests/neural/operators/physics/test_cross_attention.py
  tests/neural/operators/specialized/test_mgno.py
  tests/neural/operators/specialized/test_sensor_optimization.py
  tests/neural/operators/specialized/test_spectral_normalization.py
Due: check-file-length, pyright

Add a security policy and stop asserting a literal version
  SECURITY.md
  pyproject.toml
  tests/test_imports.py
Due: sort_pyproject, pyright

Size the power-iteration vectors for the weight they normalize
  src/opifex/neural/operators/specialized/spectral_normalization.py
  tests/neural/operators/specialized/test_spectral_normalization.py
Due: check-file-length, pyright

Name the CUDA extra for CUDA and drop Python 3.11
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/quality-checks.yml
  .github/workflows/security.yml
  .github/workflows/tests-extended.yml
  .readthedocs.yaml
  Dockerfile
  README.md
  deploy/vast/README.md
  deploy/vast/qh9_train.sky.yaml
  docs/deployment/local-development.md
  docs/deployment/troubleshooting.md
  docs/development/code-quality.md
  docs/faq.md
  docs/getting-started/installation.md
  docs/index.md
  docs/tech-stack.md
  pyproject.toml
  setup.sh
  src/opifex/benchmarking/README.md
  src/opifex/core/training/strategies/multilevel/cascade_training.py
  src/opifex/geometry/README.md
  src/opifex/geometry/manifolds/base.py
  src/opifex/neural/README.md
  src/opifex/neural/bayesian/calibration_tools.py
  src/opifex/optimization/l2o/optimizers.py
  src/opifex/optimization/l2o/tasks.py
  src/opifex/typing.py
  src/opifex/uncertainty/sbi/_base.py
  src/opifex/uncertainty/types.py
  tests/packaging/__init__.py
  tests/packaging/test_accelerator_extras.py
  uv.lock
Due: sort_pyproject, check-file-length, pyright

Install CI environments from uv.lock
  .github/workflows/benchmark-regression.yml
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/quality-checks.yml
  .github/workflows/security.yml
  .github/workflows/tests-extended.yml
Due: none

Clean up the public documentation surface
  README.md
  src/opifex/core/quantum/molecular_system.py
  src/opifex/data/loaders/factory.py
  src/opifex/uncertainty/gp/kernels.py
  tests/core/test_quantum_problem_jit.py
  tests/neural/bayesian/test_probabilistic_pinn_objectives.py
  tests/uncertainty/test_registry.py
Due: check-file-length, pyright

Release 0.2.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

Install the platform extra where pyright type-checks it
  .github/workflows/quality-checks.yml
Due: none

Declare what the test suite needs from the platform extra
  pyproject.toml
  uv.lock
Due: sort_pyproject

Declare the scientific-data extra the example smoke test needs
  pyproject.toml
  uv.lock
Due: sort_pyproject

Skip the kfac tests instead of aborting collection
  tests/neural/quantum/vmc/test_kfac_preconditioner.py
Due: pyright

Record the kfac-jax incompatibility as a known limitation
  CHANGELOG.md
Due: none

build(deps): relock tornado, mkdocs-material and pymdown-extensions to fixed releases
  uv.lock
Due: none

ci: the required gates the sibling repos already run
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/quality-checks.yml
  .github/workflows/security.yml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  quality/pydoclint_baseline.txt
  uv.lock
Due: sort_pyproject

ci: publish through PyPI trusted publishing
  .github/workflows/publish.yml
  RELEASING.md
Due: none

fix(distributed)!: meshes come from substrax; the data-parallel step trains again on jax 0.11
  CHANGELOG.md
  pyproject.toml
  src/opifex/distributed/__init__.py
  src/opifex/distributed/manager.py
  src/opifex/distributed/training.py
  tests/distributed/test_manager.py
  uv.lock
Due: sort_pyproject, check-file-length, pyright

refactor(training)!: checkpoint store and callbacks from substrax; the FLOP estimator is gone
  CHANGELOG.md
  docs/api/visualization.md
  pyproject.toml
  quality/pydoclint_baseline.txt
  quality/ruff_baseline.json
  src/opifex/core/training/callbacks.py
  src/opifex/core/training/components/checkpoint_store.py
  src/opifex/core/training/monitoring/flops.py
  tests/core/training/components/test_checkpoint_store.py
  tests/core/training/monitoring/test_flops.py
  tests/core/training/test_migration_integrity.py
  tests/core/training/test_substrax_delegation.py
  tests/training/test_flops_counter.py
Due: sort_pyproject, check-file-length, pyright

refactor(training)!: mixed precision composes flax's dynamic loss scaling
  CHANGELOG.md
  pyproject.toml
  quality/pydoclint_baseline.txt
  quality/ruff_baseline.json
  src/opifex/core/training/components/__init__.py
  src/opifex/core/training/strategies/mixed_precision.py
  src/opifex/core/training/strategies/mixed_precision_ops.py
  tests/core/training/strategies/test_mixed_precision_strategy.py
  tests/core/training/test_components.py
  tests/core/training/test_migration_integrity.py
  tests/core/training/test_mixed_precision_component.py
Due: sort_pyproject, check-file-length, pyright

refactor(core)!: hardware identity from substrax, specs from calibrax; device helpers deprecated
  CHANGELOG.md
  src/opifex/_deprecated.py
  src/opifex/core/device_utils.py
  src/opifex/core/gpu_acceleration.py
  src/opifex/core/metrics.py
  src/opifex/uncertainty/_deprecated_metric.py
  src/opifex/uncertainty/calibration/base.py
  src/opifex/uncertainty/calibration/regression.py
  src/opifex/uncertainty/forecasting_metrics/__init__.py
  src/opifex/uncertainty/metrics.py
  tests/core/test_hardware_identity_delegation.py
  tests/integration/framework.py
Due: check-file-length, pyright

refactor(mlops)!: the MLflow backend records through substrax; models are Orbax checkpoints
  CHANGELOG.md
  docs/api/mlops.md
  pyproject.toml
  quality/ruff_baseline.json
  src/opifex/mlops/README.md
  src/opifex/mlops/__init__.py
  src/opifex/mlops/_uq_capabilities.py
  src/opifex/mlops/backends/__init__.py
  src/opifex/mlops/backends/mlflow_backend.py
  src/opifex/mlops/backends/run_logger.py
  src/opifex/mlops/experiment.py
  src/opifex/mlops/records.py
  src/opifex/mlops/tracker.py
  tests/mlops/test_experiment_tracking.py
  tests/mlops/test_mlflow_backend.py
  tests/mlops/test_records.py
  tests/uncertainty/test_scientific_domain_capabilities.py
  uv.lock
Due: sort_pyproject, check-file-length, pyright

refactor(benchmarking)!: publication output through calibrax; the operator registry is named for what it holds
  CHANGELOG.md
  docs/features.md
  docs/methods/advanced-benchmarking.md
  quality/pydoclint_baseline.txt
  src/opifex/_deprecated.py
  src/opifex/benchmarking/README.md
  src/opifex/benchmarking/__init__.py
  src/opifex/benchmarking/adapters.py
  src/opifex/benchmarking/benchmark_registry.py
  src/opifex/benchmarking/benchmark_runner.py
  src/opifex/benchmarking/cli.py
  src/opifex/benchmarking/pdebench_configs.py
  src/opifex/benchmarking/results_manager.py
  tests/benchmarking/test_adapters.py
  tests/benchmarking/test_benchmark_configs.py
  tests/benchmarking/test_benchmark_registry.py
  tests/benchmarking/test_benchmark_runner.py
  tests/benchmarking/test_cli.py
  tests/benchmarking/test_results_manager.py
  tests/benchmarks/test_advanced_benchmarking_system.py
Due: check-file-length, pyright

docs: the README installs from PyPI and names the registered operators; UNO joins the registry
  .github/workflows/quality-checks.yml
  CHANGELOG.md
  README.md
  docs/comparisons/jax-pde-landscape.md
  mkdocs.yml
  scripts/derive_status.py
  src/opifex/neural/kan/pikan.py
  src/opifex/neural/operators/__init__.py
  src/opifex/neural/operators/_uq_capabilities.py
  tests/scripts/test_derive_status.py
Due: check-file-length, pyright

ci: the quality job installs the test extra, which pyright's test corpus imports
  .github/workflows/quality-checks.yml
Due: none

test: x64 is enabled by a fixture, never at import; collection fails if a module does
  tests/conftest.py
  tests/uncertainty/curvature/conftest.py
  tests/uncertainty/curvature/test_kfac.py
  tests/uncertainty/curvature/test_structured.py
Due: pyright

chore(release): 0.2.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

refactor!: delete the one-release deprecation wrappers 0.2.2 introduced
  CHANGELOG.md
  docs/api/uncertainty.md
  docs/examples/uncertainty/curvature-laplace.md
  examples/uncertainty/curvature/laplace_classifier.ipynb
  examples/uncertainty/curvature/laplace_classifier.py
  src/opifex/_deprecated.py
  src/opifex/benchmarking/__init__.py
  src/opifex/benchmarking/benchmark_registry.py
  src/opifex/core/__init__.py
  src/opifex/core/device_utils.py
  src/opifex/core/metrics.py
  src/opifex/uncertainty/__init__.py
  src/opifex/uncertainty/calibration/__init__.py
  src/opifex/uncertainty/calibration/base.py
  src/opifex/uncertainty/calibration/regression.py
  src/opifex/uncertainty/forecasting_metrics/__init__.py
  src/opifex/uncertainty/metrics.py
  src/opifex/uncertainty/ood/__init__.py
  src/opifex/uncertainty/reports.py
  tests/benchmarking/test_benchmark_registry.py
  tests/core/test_hardware_identity_delegation.py
  tests/uncertainty/ood/test_scores.py
  tests/uncertainty/test_calibrax_delegation.py
Due: check-file-length, pyright

chore(release): 0.2.3
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

fix(tests): declare the pytest environment in the table pytest-env reads
  pyproject.toml
Due: sort_pyproject

docs: describe the package by its scientific ML surfaces
  README.md
  pyproject.toml
Due: sort_pyproject

docs: keep the README heading as the vision statement
  README.md
Due: none

refactor(data): rename QH9PaddedSource.get_batch_at to read_batch
  CHANGELOG.md
  src/opifex/data/sources/qh9_padded_source.py
  tests/data/sources/test_qh9_padded_source.py
Due: check-file-length, pyright

build(deps): require datarax 0.1.9, where the PDEBench and VTK loaders iterate
  CHANGELOG.md
  pyproject.toml
  src/opifex/data/sources/scientific.py
  tests/data/sources/test_scientific.py
  uv.lock
Due: sort_pyproject, check-file-length, pyright

chore(release): 0.2.4
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

fix(ntk): differentiate only parameters in compute_jacobian
  CHANGELOG.md
  pyproject.toml
  quality/ruff_baseline.json
  src/opifex/core/physics/ntk/wrapper.py
  tests/core/physics/ntk/test_wrapper.py
Due: sort_pyproject, check-file-length, pyright

ci: retire the benchmark regression guard, which could not fail
  .github/workflows/benchmark-regression.yml
  scripts/README.md
  scripts/run_ci_benchmark.py
Due: check-file-length, pyright

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  check-file-length: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor|tests/|examples/)
  pyright: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor)/
