Repository avitai/opifex: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, check-file-length, pyright

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  check-file-length: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor|tests/|examples/)
  pyright: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor)/

build(data): adopt datarax 0.1.10
  CHANGELOG.md
  pyproject.toml
  src/opifex/data/sources/qh9_fock_operators.py
  src/opifex/data/sources/qh9_padded_source.py
  src/opifex/data/sources/scientific.py
  tests/data/sources/test_qh9_padded_source.py
  uv.lock
Due: sort_pyproject, check-file-length, pyright

test(core): assert the opt-in JAX setup, not an import-time one
  tests/core/test_compilation_cache.py
Due: pyright

chore(release): 0.2.6 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

refactor(core)!: remove the JAX setup helpers in favour of substrax.runtime
  CHANGELOG.md
  src/opifex/__init__.py
  src/opifex/core/__init__.py
  src/opifex/core/device_utils.py
  tests/conftest.py
  tests/core/test_compilation_cache.py
  tests/core/test_hardware_identity_delegation.py
  tests/core/test_import_side_effects.py
Due: check-file-length, pyright

refactor(benchmarking): resolve output directories through substrax.artifacts
  CHANGELOG.md
  pyproject.toml
  src/opifex/benchmarking/README.md
  src/opifex/benchmarking/_shared.py
  src/opifex/benchmarking/benchmark_runner.py
  src/opifex/benchmarking/evaluation_engine.py
  src/opifex/benchmarking/results_manager.py
  tests/benchmarking/test_output_defaults.py
  tests/benchmarks/test_evaluation_engine.py
  uv.lock
Due: sort_pyproject, check-file-length, pyright

refactor(vmc)!: remove the K-FAC preconditioner and the kfac-jax dependency
  .github/workflows/quality-checks.yml
  .github/workflows/tests-extended.yml
  CHANGELOG.md
  docs/api/uncertainty.md
  pyproject.toml
  src/opifex/neural/quantum/vmc/kfac_preconditioner.py
  src/opifex/uncertainty/curvature/_uq_capabilities.py
  src/opifex/uncertainty/curvature/kfac.py
  src/opifex/uncertainty/inference_backends/optional.py
  tests/neural/quantum/vmc/test_kfac_preconditioner.py
  tests/neural/quantum/vmc/test_optimizers.py
  tests/uncertainty/inference_backends/test_optional_backends.py
  tests/uncertainty/test_capability_coverage.py
  uv.lock
Due: sort_pyproject, check-file-length, pyright

test(examples): run every example in its own interpreter through substrax's runner
  CHANGELOG.md
  examples/advanced-training/adaptive_sampling.ipynb
  examples/advanced-training/adaptive_sampling.py
  examples/advanced-training/gradnorm.ipynb
  examples/advanced-training/gradnorm.py
  examples/atomistic/nequip_md17.ipynb
  examples/atomistic/nequip_md17.py
  examples/benchmarking/operator_benchmark.ipynb
  examples/benchmarking/operator_benchmark.py
  examples/data/darcy_flow_analysis.ipynb
  examples/data/darcy_flow_analysis.py
  examples/quantum-chemistry/hamiltonian_prediction.ipynb
  examples/quantum-chemistry/hamiltonian_prediction.py
  examples/quantum-chemistry/vmc_atoms.ipynb
  examples/quantum-chemistry/vmc_atoms.py
  tests/examples/_harness.py
  tests/examples/test_examples.py
  tests/examples/test_examples_smoke.py
  tests/examples/test_uncertainty_examples.py
Due: pyright

build: anchor the benchmarks ignore rule to the repository root
  .gitignore
  tests/packaging/test_gitignore_contracts.py
Due: pyright

ci: run the macOS unit-test shards on pushes to main only
  .github/workflows/ci.yml
Due: none

refactor(rng): take keys through substrax.rng.key_from
  pyproject.toml
  src/opifex/neural/bayesian/probabilistic_pinns.py
  src/opifex/training/uncertainty_trainers.py
  src/opifex/uncertainty/active/__init__.py
  src/opifex/uncertainty/active/acquisition.py
  src/opifex/uncertainty/active/batch_active.py
  src/opifex/uncertainty/active/experimental_design.py
  src/opifex/uncertainty/active/pinn_acquisition.py
  src/opifex/uncertainty/adapters/ensemble.py
  src/opifex/uncertainty/adapters/model.py
  src/opifex/uncertainty/curvature/laplace.py
  src/opifex/uncertainty/gp/rff.py
  src/opifex/uncertainty/inference_backends/blackjax.py
  src/opifex/uncertainty/layers/bayesian.py
  src/opifex/uncertainty/sbi/diagnostics.py
  src/opifex/uncertainty/sbi/likelihood_estimation.py
  src/opifex/uncertainty/sbi/posterior_estimation.py
  src/opifex/uncertainty/sbi/ratio_estimation.py
  src/opifex/uncertainty/sbi/simulators.py
  src/opifex/uncertainty/scientific/equation_discovery.py
  tests/uncertainty/inference_backends/test_blackjax_backend.py
  tests/uncertainty/layers/test_bayesian.py
  uv.lock
Due: sort_pyproject, check-file-length, pyright

build: adopt substrax 0.1.9, datarax 0.1.11, calibrax 0.1.6 and artifex 0.1.8
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

chore(release): 0.2.7 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

refactor: calibrax 0.1.8 and artifex 0.1.10; timing through time_calls, masked mean through reduce_values
  CHANGELOG.md
  pyproject.toml
  src/opifex/benchmarking/evaluation_engine.py
  src/opifex/benchmarking/profiling/event_coordinator.py
  src/opifex/core/gpu_acceleration.py
  src/opifex/core/timing.py
  src/opifex/neural/pinns/gst_pinn.py
  tests/benchmarking/test_correct_timing.py
  uv.lock
Due: sort_pyproject, check-file-length, pyright

ci: run the macOS matrix on pushes to main only
  .github/workflows/build-verification.yml
Due: none

test(benchmarking): the runner test feeds the executor real pipelines
  src/opifex/benchmarking/operator_executor.py
  tests/benchmarks/test_advanced_benchmarking_system.py
Due: check-file-length, pyright

feat(data): training loaders drop the ragged final batch, evaluation scores the records only
  CHANGELOG.md
  docs/api/data.md
  scripts/train_qh9_blocks.py
  src/opifex/benchmarking/operator_executor.py
  src/opifex/data/loaders/factory.py
  src/opifex/data/sources/qh9_padded_source.py
  tests/benchmarking/test_operator_execution.py
  tests/data/loaders/test_factory.py
  tests/data/sources/test_qh9_padded_source.py
  tests/scripts/test_train_qh9_blocks_resume.py
Due: check-file-length, pyright

feat(data): the QH9 training pass drops its ragged final batch
  CHANGELOG.md
  scripts/train_qh9_blocks.py
  src/opifex/data/sources/qh9_padded_source.py
  tests/data/sources/test_qh9_padded_source.py
  tests/scripts/test_train_qh9_blocks_resume.py
Due: check-file-length, pyright

build: require datarax 0.1.12
  pyproject.toml
  uv.lock
Due: sort_pyproject

build: require datarax 0.1.13
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

fix(benchmarking): the progressive GPU tester reports calibrax's median
  CHANGELOG.md
  src/opifex/core/gpu_acceleration.py
  tests/benchmarking/test_correct_timing.py
Due: check-file-length, pyright

Adopt substrax 0.1.10 checkpoints in the trainer, the serving registry and the MLflow backend
  .github/actions/format2-module-fixture/action.yml
  .github/workflows/ci.yml
  .github/workflows/tests-extended.yml
  .gitignore
  CHANGELOG.md
  docs/api/mlops.md
  docs/user-guide/concepts.md
  docs/user-guide/training.md
  pyproject.toml
  quality/pydoclint_baseline.txt
  scripts/make_format2_module_fixture.py
  src/opifex/core/training/components/__init__.py
  src/opifex/core/training/components/checkpoint_store.py
  src/opifex/core/training/config.py
  src/opifex/core/training/trainer.py
  src/opifex/deployment/core_serving.py
  src/opifex/mlops/backends/mlflow_backend.py
  src/opifex/mlops/experiment.py
  tests/core/training/test_checkpoint_format2.py
  tests/core/training/test_config.py
  tests/core/training/test_gradient_checkpointing.py
  tests/core/training/test_substrax_delegation.py
  tests/core/training/test_trainer.py
  tests/mlops/test_mlflow_backend.py
  tests/packaging/test_ci_workflow_contracts.py
  tests/training/test_training_config.py
  uv.lock
Due: sort_pyproject, check-file-length, pyright
